::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}
html{
    background-image: url("../img/background/back.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
}
body{
    font-family: Tahoma;
    margin: 0 auto;
    width: 1000px;
    /*height: 500px;*/
    background-color: #393939;
    font-size: 14px;
}
.header{
    width: 100%;
    /*background-color: #00b3ff;*/
    height: 140px;
    position: relative;
}
.header .top_line{
    position: absolute;
    height: 5px;
    background-color: RGBA(255,255,255,0.5);
    top: 0;
    width: 100%;
    z-index: 100;
}
.center_line{
    width: 100%;
    height: 100%;
    /*background-color: aqua;*/
}
.header  .left_content{

    width: 270px;
    padding: 5px 20px;
    background-color: #19449b;
    position: relative;
    background-position: right bottom;
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-image: url("../img/header/bac_top_left.png");
    height: 130px;
    float: left;
}
.speedy{
    display: block;
    font-size: 54px;
    font-family: "Planet_Kosmos";
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.157);
    margin-top: -10px;
    margin: 0 auto;
}
.cars{
    display: block;
    font-size: 54px;
    font-family: "Planet_Kosmos";
    color: rgb(248, 193, 58);
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.157);
    margin:  0 auto;
    margin-left: 50px;
    margin-top: -22px;

}
.auto_port{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
}
.add_z{
    background-color: RGbA(0,0,0,0.5);
    height: 30px;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    color: #ffffff;
    text-align: center;
}
.header .right_content{
    width: 550px;
    height: 100%;
    background-image: url("../img/header/header_top_right_bac.png");
    float: right;
    position: relative;
}
.header  .right_top{
    position: relative;
    height: 100px;
    width: 100%;
}
.header .right_content img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -234px;
    margin-top: -30px;

}
.wrapper{
    position: relative;
    width: 990px;
    margin: 0 auto;
    top:-15px;
    border-radius: 10px ;
    overflow: hidden;
}
.center_content{
    position: absolute;
    z-index: 50;
    left: 310px;
    right: 550px;
    height: 100%;
    background-image: url("../img/header/header_center.png");
    background-repeat: repeat-x;
    border-radius: 0 0 5px 5px;

    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.header .center_content ul{
    list-style: none;
    margin: 5px 5px 0 10px;
    padding: 0;
}
.header .center_content  li:last-child{
    position: absolute;
    bottom: 0px;
    background-color: RGBA(0,0,0,0.5);
    height: 35px;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}
.header .center_content li a{
    color: #000000;

}
.header .right_content .bottom_line{
    background-color: RGBA(0,0,0,0.5);
    height: 40px;
    line-height: 24px;
    color: #fff;
}
.header .right_content .bottom_line ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    display: block;
    margin-right: 41px;
}
.header .right_content .bottom_line li{
    display: inline;
}
.header .right_content .bottom_line a{
    color: #ffffff;
    margin: 0 10px;
}
.header .right_content .bottom_line a.last{
    margin-right: 0px;
    text-decoration: none;
}
.header .right_content .bottom_line .rss{
    vertical-align: middle;
    position: static;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}
.wrapper_top_line{
    height: 60px;
    width: 100%;
    background-image: url("../img/wrapper/top_line_wrapper.png");
    background-repeat: repeat-x;

    position: relative;
}
.wrapper_top_line .one_line{
   width: 100%;
    overflow: hidden;
}
.wrapper_top_line .one{
    width: 465px;
    height: 50px;
    /*background-color: #00b3ff;*/
    color: #ffffff;
    line-height: 50px;
    font-size: 30px;
    float: left;
}
.wrapper_top_line .phone{
    margin-left: 20px;
    display: block;
}
.wrapper_top_line .phone img{
    vertical-align: sub;
}
.wrapper .two{
    float: right;
    width: 525px;
    background-color: RGBA(255,255,255,0.1);
    line-height: 50px;
    height: 60px;
}
.wrapper_top_line .bottom_line{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10px;
    background-color: RGBA(255,255,255,0.15);
}
.wrapper_top_line .block_search{
    width: 468px;
    margin: 0 auto;
    margin-left: 23px;
    display: table;
}
.wrapper_top_line .block_search  input {
     background-color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    outline: none;
    border: none;
    color: #ffffff;
    display: table-cell;
    margin:0;
    padding: 0 5px;
    width: 335px;

    border-radius: 2px 0 0 2px;
}
.wrapper_top_line .block_search  input:focus{
    /*border: 0;*/
    border: 1px #666 solid;
    height: 22px;
    width: 333px;

}
.wrapper_top_line .block_search  button{
    display: table-cell;
    border: none;
    cursor: pointer;
    color: #ffffff;
    height: 24px;
    background-position: 0 50%;
}
.block_search .button_2{

    border-radius:  0 2px 2px 0 ;
    width: 30px;
    background: url("../img/wrapper/button2-bac.png") repeat-x;
}
.wrapper_top_line .block_search .button_search{
    margin-right: 1px;
    width: 90px;
    background: url("../img/wrapper/button1-bac.png") repeat-x;
    background-position: 0 50%;
}
.wrapper_top_line .block_search  input,
.wrapper_top_line .block_search .button_search,
.block_search .button_2{
    outline: none;
}
.height24{
    height: 24px;
}
.line-height24{
    line-height: 24px;
}
.vertical-align_middle{
    vertical-align: middle;
}
.blue-line{
    background: url("../img/wrapper/top-blue-line.png") repeat-x;
    height: 5px;
}
.content{
    background-color: #ffffff;
    overflow: hidden;
}
.content .main{
    margin-top: 1px;
    background:#e9e9e9;
    height: 32px;
    width: 100%;
    margin-bottom: 23px;
}
.content .main ul{
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.content .main li{
    border-right: 1px solid RGBA(0,0,0,0);
    border-left: 1px solid RGBA(0,0,0,0);
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    display: inline-block;
    padding: 0 3px;
}
.content .main li a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}
.content .main li a:hover{
    color: #dc3838
}
.content .main .active{
    padding:  0 5px;

    background: url("../img/wrapper/menu_active.png") no-repeat;
    height: 54px;
    position: relative;
    display: inline-block;
    z-index: 1000;
    background-position: 50% 100%;
    top: -6px;
}

.content .main .active  a{
    width: 100%;
    padding: 0 10px;
    color: #ffffff;
    position: relative;
    top: 6px;
}
.content .main .active a:hover{
    color:  yellow;
}
.left{
    float: left;
}
.right{
    float: right;
}
.black{
    color: #000000;
}
.red_link{
    margin-top: 5px;
    font-size: 0.8em;
}
.red_link a{
    color: #ff0000;
}
.footer{
    margin: 0 20px;
    margin-top: 20px;
    /*height: 20px;*/
    /*background-color: #ff0000;*/
    overflow: hidden;
}
.footer>div{
    width: 100%;
    /*background-color: #19449b;*/
    display: block;
    overflow: hidden;
}
.footer ul{
    list-style: none;
    vertical-align: top;
    margin: 0;
    padding: 0;

    float: left;

}
.footer img{
    float: left;
}
.footer ul li{
    display: inline;
    font-size: 0.8em;
    color: #ffffff;
}
.footer ul li a{
    margin: 0 10px;
    color: #fccb40;
}
.footer .left{
    float: left;
    margin: 0 40px;
    color: #ffffff;
}
.footer .right{
    float: right;
    margin: 0;
    margin-right: 20px;
}
.red{
    color:  red;
}
.blue{
    color: #83a9df;
}
.logo{
    text-decoration: none;
}