.new{
    width: 100%;
    /*background-color: #63AD1F;*/
    /*height: 100px;*/
}
.new .h1{
    display: block;
    line-height: 50px;
    text-align: center;
    background-color: #e9e9e9;
    margin: 0;
    height: 50px;
    position: relative;
}
.new .h1 form{
    position: absolute;
    right: 10px;
    top:0;
    height: 20px;
    /*margin-top: -10px;*/
}
.new ul{
    list-style: none;
    margin: 0;
    padding: 0 10px;
}
.new li{
    margin-top: 5px;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
}
.new ul .img{
    width: 300px;
    height: 200px;
    line-height: 200px;
    background-color: #000;
    float: left;
    text-align: center;
    margin: 0 10px 10px 0;
}
.new ul .img img{
    max-height: 190px;
    max-width: 290px;
    vertical-align: middle;
}
.new ul h2{
    color: #83a9df;
    text-align: center;
}
p{
    text-indent: 20px;
}
.new .red_link{
    position: absolute;
    bottom: 10px;
    right: 10px;
}